*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: white;
    text-align: center;
    z-index: 999;
    top: 0;
}

.container{  
    flex-wrap: wrap;
    margin: 100px auto;
}

.card{
    z-index: 1;
    width: fit-content;
}

.article {
    margin: 100px 0 25px 0;
    height: 500px;
    align-content: center;
}

.card-photo:hover .card-hover{
    z-index: 2;
}

.sale{
    top: 415px;
    background-color: red;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.eco{
    top: 415px;
    left: 40px;
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.eco-special {
    top: 415px;
    background-color: green;
    color: white;
    font-weight: 500;
    font-size: 12px;
}

.favorite {
    top: 10px;
    left: 270px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 30px;
    background-color: white;
}

.favorite:hover{
    color: red;
}

.brand{
    top: 440px;
    font-size: 12px;
}

.product {
    top: 455px;
    font-size: 14px;
    font-weight: 600;
}

.price{
    top: 470px;
    font-size: 12px;
    font-weight: 600;
    color: red;
}

.price-style {
    color: black;
    text-decoration: line-through;
}

footer{
    color: white;
    margin-top: 100px;
}

.social{
    font-size: 20px;
}




